@model FinanceManagement.Models.FixoParcelado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FixoParcelado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fixo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fixo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parcelado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parcelado.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
