@model IEnumerable<FinanceManagement.Models.Lancamento>

@{
    ViewData["Title"] = "Lançamentos";
}

<h1>Lançamentos</h1>

<div>
    <p class="text-right">
        <a class="btn btn-success" asp-action="Create">
            <span class="icon bi bi-plus"></span> Novo lançamento
        </a>
    </p>

    <div class="table-responsive">
        <table class="table table-dark table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DespesaReceita)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria.Descricao)
                    </th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DespesaReceita)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalhes"><span class="icon bi bi-info-circle"></span></a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir"><span class="icon bi bi-trash"></span></a>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><span class="icon bi bi-pencil"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
